.head {
    text-align: center;
    margin: auto;
}

.warning {
    margin: auto;
    text-align: center;
    width: 75%;
}

.mindustry-logo {
    width: 96px;
    height: 96px;
    border-radius: 12px;
}

.tools, .mods {
    text-align: center;
    margin: auto;
}